.product-image-card {
  max-width: 225px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  left: 25px;
}
.product-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}