.get-in-touch {
  padding: 5px;
  width: 90%;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  margin-bottom: 0.5rem;
  width: 80%;
}

.label {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  justify-content: space-between;
}

.input-text {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #ccc;
  transition: all 0.3s;
  margin-top: 0.5rem;
}

.input-text:focus {
  outline: none;
  border-bottom: 2px solid #5f5;
}

.submit-btn {
  background-color: #5f5;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 5rem;
}

.submit-btn:hover {
  background-color: #4a4;
}
