<section class="get-in-touch">
   <form class="contact-form row">
      <div class="form-field col-lg-3">
         <label class="label" for="name">Name</label>
         <input #txtName id="name" class="input-text js-input" type="text" required>
      </div>
      <div class="form-field col-lg-3">
         <label class="label" for="email">Stock</label>
         <input #txtStock id="email" class="input-text js-input" type="number" required>
      </div>
      <div class="form-field col-lg-3 ">
         <label class="label" for="phone">Price</label>
         <input #txtPrice id="phone" class="input-text js-input" type="number" required>
      </div>
      <div class="form-field col-lg-3">
         <input class="submit-btn" type="submit" value="Submit" (click)="create(txtName, txtStock, txtPrice)"
            (keyup.enter)="create(txtName, txtStock, txtPrice)">
      </div>
   </form>
</section>